<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Bungee|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <title>Simple Chat App</title>
  </head>

  <body>
    <header>
      <h1>Secure Chat</h1>
    </header>

    <section>
      <div id="username"><%= username %></div>
    </section>

    <section id="chatroom">
      <section id="feedback"></section>
    </section>

    

    <section id="input_zone"> 
      <input id="message" class="vertical-align" type="text" />
      <form ref="uploadForm" id="uploadForm" action="/upload" method="post"
        encType="multipart/form-data">
          <div class="upload-btn-wrapper">
            <button class="btn"></button>
            <input id="send_file" type="file" name="secretFile" />
          </div>
          <input id="submit_file" type='hidden' value='Upload' />
      </form> 
      <button id="send_message" class="vertical-align" type="button">Send</button>
    </section>  

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="bundle.js"></script>
  </body>
</html>