<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Bungee" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <title>Simple Chat App</title>
  </head>

  <body>
    <header>
      <h1>Secure Chat</h1>
    </header>

    <section>
        <div class="error">username/password not correct</div>
        <form id="login-form" action="/" method="post">
            <div>
              <label>Username:</label>
              <input type="text" name="username" />
              <br/>
            </div>
            <div>
              <label>Password:</label>
              <input id="password" type="text" name="password" />
              <input id="salt" type="hidden" value="<%= salt %>">
              <input id="dhPrime" type="hidden" value="<%= dhPrime %>">
            </div>
            <div>
              <input type="submit" id="login" value="Submit" />
            </div>
        </form>
    </section>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="login.js"></script>
  </body>
</html>